<ul class="breadcrumb" *ngIf="isShowBreadCrumb">
  <span class="breadcrumb__section" *ngIf="isLoadComplete">
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
      <a
        *ngIf="!isMobile"
        (click)="isclicked(breadcrumb)"
        [class]="breadcrumb.baseCls"
        routerLink="{{ breadcrumb.url }}"
      >
        {{ breadcrumb.label }}
      </a>
      <a
        *ngIf="isMobile"
        (click)="isclicked(breadcrumb)"
        [class]="breadcrumb.baseCls"
        routerLink="{{ breadcrumb.url }}"
      >
        <span class="align-back-text">{{ backToText }}</span>
        {{ breadcrumb.label }}
      </a>
    </li>
  </span>
</ul>
