@import '../../../../styles/base/colors';

.bt-checkbox {
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      height: 30px;
    }

    & + label:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border: 1px solid $border-color-2;
      border-radius: 4px;
    }

    &:checked + label:after {
      height: 7px;
      width: 14px;
      border-left: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      left: 8px;
      top: 10px;
      content: '';
      display: block;
    }
  }
  .check-box-label {
    font-size: 16px;
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  input[type='checkbox'] + label {
    &:before {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &:before {
        border-color: $primary-color;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
